<section class="hero is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="../assets/logo.png" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Series
            </a>
            <a class="navbar-item">
              Films
            </a>
           
          </div>
        </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle #141414 -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Notflix
      </p>
      <p class="subtitle">
        Just another streaming Platform
      </p>
    </div>
  </div>

  
</section>
<section class="section is-large">
  <h1 class="title is-4">Popular On Notflix</h1>
  
</section>

<router-outlet></router-outlet>
